<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <remove name="PLVTIProject" />
      <add name="python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Projects\PLVTIProject\venv\Scripts\python.exe|C:\Projects\PLVTIProject\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="PLVTIProject" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38-32\python.exe|C:\Python38-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

	<appSettings>
		<add key="WSGI_HANDLER" value="PLVTIProject.wsgi.application" />
		<add key="PAYTHONPATH" value="C:\Projects\PLVTIProject" />
		<add key="DJANGO_SETTING_MODULE" value="PLVTIProject.settings" />
	</appSettings>
</configuration>
