{% extends 'share/mainpage_for_other_pages.html' %}
{% load static %}
{% load my_templatetag %}

{% block title %}
{{ super }} گزارش کامنت ها|
{% endblock %}



{% block body %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<script>
    $(document).ready(function () {
        $("#commentBtnDelete").click({
            ModelName: "comment",
            RedirectPath: "commentLV", TableId: "commentTable"
        }, DeleteRecords);
    });
</script>
<div class="page-wrapper">
    {% include 'partials/dashboard_header.html' %}

    <main class="main">
        <nav aria-label="breadcrumb " class="breadcrumb-nav mb-3">
            <div class="container-fluid ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'WebSite:login' %}">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">گزارش کامنت ها</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container-fluid">
                    <div class="row">
                        {% include 'partials/side_menu_dashboard.html' %}
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
                            <div style="margin-bottom: 1%;">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link  " href="{% url 'WebSite:productsgroupsLV' %}">گزارش گروه
                                            محصول
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'WebSite:product' %}">گزارش محصول
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'WebSite:brandreport' %}">گزارش برند</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'WebSite:costreport' %}">گزارش قیمت محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{% url 'WebSite:commentreport' %}">گزارش کامنت
                                            ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'WebSite:customerLV' %}">گزارش مشتری
                                            ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'WebSite:commentreport' %}">گزارش فاکتور
                                            ها</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="{% url 'WebSite:PayRcvreport' %}">گزارش رسید ها
                                            </a>
                                    </li>
                                </ul>
                            </div>


                            {% comment %}
                            <!-- <div class=" border-right" style="display: inline-block;"  aria-label="...">
                                    <a class="btn btn-success shadow rounded" href="#"> تایید گروهی</a>
                                </div>
                                <div class=" border-right" style="display: inline-block;"  aria-label="...">
                                    <a class="btn btn-danger shadow rounded" href="#"> عدم تایید گروهی</a>
                                </div> -->
                            {% endcomment %}
                            <div class=" border-right" style="display: inline-block;" aria-label="...">
                                <a class="btn btn-danger shadow rounded" id="commentBtnDelete" href="#"> حذف گروهی</a>
                            </div>
                            <table class=" shadow rounded " style="margin-bottom: 2%; margin-top: 1%;">
                                <tr>
                                    <td class="font-weight-bold text-center container"
                                        style="text-align: center; padding: 1%; background-color: lightgrey; opacity: 60%;">
                                        گزارش کامنت ها
                                    </td>
                                </tr>
                            </table>

                            <iframe id="txtArea1" style="display:none"></iframe>
                            <table style="width:100%" id="example"
                                class="display table table-hover table-striped table-bordered shadow">
                                <thead>
                                    <tr class="font-weight-bold text-center">
                                        <th style="text-align:center;"> <input id="checkAllForm" type="checkbox"
                                                class="selectAll " name="selectAll" value="all"></th>
                                        <th class="text-center">شماره</th>
                                        <th class="text-center">محصول</th>
                                        <th class="text-center">عنوان</th>
                                        <th class="text-center text-wrap">کامنت</th>
                                        <th class="text-center">وضعیت کامنت</th>
                                        <th class="text-center">توضیحات</th>
                                        <th class="text-center">تایید / عدم تایید</th>
                                        <th class="text-center">کلید ها</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if commentLV %}
                                    {% for result in commentLV %}
                                    <tr class="text-center" id="comment{{ result.id }}">
                                        <td></td>
                                        <td class="text-center">{{ result.id }}</td>
                                        <td class="text-center">{{ result.pid }}</td>
                                        <td class="text-center">{{ result.Head }}</td>
                                        <td class="text-wrap" style="width: 6rem;">{{ result.com }}</td>
                                        <td class="text-center">{{ result.status }}</td>
                                        <td class="text-center">{{ result.desc }}</td>
                                        <td class="text-center">
                                            <span onclick="acceptcomment('{{result.id}}')" class="text-decoration-none text-success">
                                                <img src="{% static 'media/edit and delete/edit.png' %}" alt=""
                                                    style="width: 20px; height: 20px;  display: inline-block;">
                                                تایید </span>|
                                            <span onclick="rejectcomment('{{result.id}}')" class="text-decoration-none text-danger">عدم
                                                تایید
                                                <img src="{% static 'media/edit and delete/delete2.png' %}" alt=""
                                                    style="width: 20px; height: 20px;  display: inline-block;"></span>
                                        </td>

                                        <td class="text-center">
                                            <!-- <a class="text-decoration-none text-success"
                                                href="{% url 'WebSite:update' 'comment' 'commentFormUpdate' 'commentreport' 'comment_update' 'comment' result.id %}">
                                                <img src="{% static 'media/edit and delete/edit.png' %}" alt=""
                                                    style="width: 20px; height: 20px;  display: inline-block;">
                                                ویرایش</a> | -->
                                            <span onclick="deletecomment('{{result.id}}')" class="text-decoration-none text-danger">حذف
                                                <img src="{% static 'media/edit and delete/delete2.png' %}" alt=""
                                                    style="width: 20px; height: 20px;  display: inline-block;"></span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>

                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->

{% endif %}
{% endif %}
{% endblock %}