{% extends 'share/mainpage_for_other_pages.html' %}
{% load static %}

{% block title %}
{{ super }} ایجاد روش ارسال|
{% endblock %}


{% block body %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div class="page-wrapper">
    {% include 'partials/dashboard_header.html' %}

    <main class="main">
        <nav aria-label="breadcrumb " class="breadcrumb-nav mb-3">
            <div class="container-fluid ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'WebSite:login' %}">خانه</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'WebSite:productsgroupsLV' %}">داشبورد</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'WebSite:ersalreport' %}">گزارش روش های ارسال</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ایجاد روش های ارسال</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div style="margin: 1%;" class="container">
            {% if error %}
            {% for error in error %}
            <p class="font-wait-bold border border-danger rounded text-danger shadow" style="padding: 1%;">
                {{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="page-content col-12">
            <div class="dashboard">
                <div class="container-fluid">
                    <div class="row">
                        {% include 'partials/side_menu_dashboard.html' %}
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
                            <form method="POST" role="form" enctype="multipart/form-data" autocomplete="off">
                                {% csrf_token %}
                                <table class=" shadow rounded " style="margin-bottom: 2%;">
                                    <tr>
                                        <td class="font-weight-bold text-center container"
                                            style="text-align: center; padding: 1%; background-color: lightgrey; opacity: 60%;">
                                            ایجاد روش ارسال
                                        </td>
                                    </tr>
                                </table>
                                <table class="col-12 table-sm table-striped table-hover shadow text-center ">
                                    <tr>
                                        <td class="font-weight-bold  text-center">
                                            {{ ersal.ersal.label  }}
                                        </td>
                                        <td>
                                            {{ ersal.ersal  }}
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                    </tr>
                                </table>

                                <input style="opacity: 60%; margin-top: 1%;" type="submit" value='ذخیره'
                                    class="shadow btn btn-success rounded col-lg-4 col-md-4 col-sm-12 col-xs-12 font-weight-bold">

                            </form>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->

{% endif %}
{% endif %}
{% endblock %}