{% extends 'share/mainpage_for_other_pages.html' %}
{% load static %}

{% block title %}
{{ super }} فراموشی کلمه عبور|
{% endblock %}




{% block body %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
{% include 'partials/dashboard_header.html' %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-lg-3 col-md-3 col-3"></div>
            <div class="col-lg-6 col-md-6 col-6">
                
            </div>
            <div class="col-lg-3 col-md-3 col-3"></div>
        </div>
    </div>
</div>

{% endif %}
{% endif %}
{% endblock %}