{% extends 'share/mainpage.html' %}
{% load static %}

{% block title %}
{{ super }} لیست کالا ها|
{% endblock %}



{% block body %}
<div class="page-wrapper" style="background-color: whitesmoke;">
    {% include 'partials/firstpageheader.html' %}
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container-fluid border-bottom border-black">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="font-weight-bold" style="font-size: large;"
                            href="{% url 'WebSite:login' %}">خانه</a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a class="font-weight-bold" style="font-size: large;"
                            href="{% url 'WebSite:treeshowgroup'  %}">گروه های کالا</a></li> -->
                    
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="products">
                    <div class="row">
                        {% if productslist %}
                        {% for pl in productslist %}
                        <div style="display: inline-block; margin: 0.5%;"
                            class="product col-lg-3 col-md-3 col-sm-12 col-xs-12 border shadow rounded">
                            <figure class="product-media ">
                                <a href="{% url 'WebSite:showproduct' pl.id %}">
                                    <img src="{% static 'media/' %}{{ pl.img1 }}" alt="تصویر محصول"
                                        class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <div onclick="addّFavorite({{pl.id}},'{{ pl.name }}','{{pl.img1}}')"
                                        class="btn-product-icon btn-wishlist btn-expandable" style="cursor: pointer;">
                                        <span>افزودن
                                            به لیست علاقه مندی</span></div>
                                </div><!-- End .product-action -->

                                <div class="product-action action-icon-top">
                                    <div onclick="addbascket({{pl.id}},'{{ pl.name }}','{{pl.img1}}')"
                                        style="cursor: pointer;" class="text-decoration-none btn-product btn-cart"
                                        title="افزودن به سبد خرید"><span>افزودن به سبد
                                            خرید</span></div>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{% for group in fehrests %}
                                        {% if group and group.id == pl.group_id %}
                                        گروه محصول : {{ group.Group_Name }}
                                        {% endif %}
                                        {% endfor %}
                                    </a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="{% url 'WebSite:showproduct' pl.id %}">نام کالا :
                                        {{ pl.name }}</a></h3>
                                <h3 class="product-title"><a href="#">برند کالا :
                                        {{ pl.brand }}</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    {% for cost in Cost %}
                                    {% if cost and cost.pid_id == pl.id %}
                                    {% if cost.priceoff %}
                                    قیمت : {{ cost.priceoff }}تومان
                                    {% else %}
                                    قیمت : {{ cost.priceorg }}تومان
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div>
                                        <!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 دیدگاه )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {% endfor %}
                        {% endif %}
                    </div><!-- End .products -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
    </main><!-- End .main -->

    {% include 'partials/footer.html' %}
    {% include 'partials/mobile.html' %}
    {% endblock %}