<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=WIN-JI3KGHK4LM8;Database=dneweb;User ID=sa;Password=123Avash456" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <pages clientIDMode="Static" />
    </system.web>
    <system.webServer>
        <handlers>
            <remove name="Dne_webhandler" />
            <remove name="DneModel" />
            <add name="DneModel" path="*.exe" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\odyssey-pc\appdata\local\programs\python\python37-32\python.exe| c:\users\odyssey-pc\appdata\local\programs\python\python37-32\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <cgi createCGIWithNewConsole="false" createProcessAsUser="true" />
    </system.webServer>
</configuration>
